extends template.pug
block content
    tbody
        tr
          td(style='padding: 0 20px')
            p(style='margin:10px 30px 0;font-family: open sans, calibri, andale, arial;font-size:18px;color:#fff;margin-bottom:20px;margin-top:40px;margin-left:30px;')
            | [[CONTENT]]