doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title platform8
    body(style='margin: 0;padding: 0')
        table(cellspacing='0', cellpadding='0', style='width: 100%;font-family: system-ui;max-width: 800px;margin: 0 auto;')
            include ./header.pug
            block content
            //- section
            //-     h2 This h2 is also from the layout
            include ./footer.pug
